.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: var(--z-fixed);
    background-color: hsl(122, 40%, 50%);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo,
.navToggle {
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
}

.nav__left {
  display: flex;
  justify-content: center;
}

.itemContainer {
  color: #fff;
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.nav__left-icon {
  margin-right: 5px;
  font-size: 1rem;
}

.nav__left-email {
  font-size: 0.7rem;
}

.navList {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 200;
}

.navIcon,
.navClose,
.navToggle {
    display: none;
}

.activeLink,
.navLink:hover {
    color: hsl(122, 66%, 50%);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }

  .nav {
    height: var(--header-height);
  }

  .nav-menu {
    position: fixed;
    bottom: -100%;
    left:0;
    width: 100%;
    background-color: hsl(122, 40%, 50%);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px hsl(122, 33%, 34%);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }

  .show-menu {
    bottom: 0;
  }
  
  .navList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .navIcon {
    font-size: 1.2rem;
  }

  .navClose {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
  }

  .navClose:hover {
    opacity: .7;
  }

  .navToggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .navIcon,
  .navClose,
  .navToggle {
    display: block;
  }
}

@media screen and (max-width: 350px) {
    .nav-menu {
        padding: 2rem 0.25rem 4rem;
    }

    .navList {
        column-gap: 0;
    }
}